@import '../variables';
@import '../forms';

.container {
  div {
    margin: 2rem 0;
    padding: 1rem 1rem;
    min-height: 3rem;
  }

  ul, ol {
    margin: 1rem 0;

    li {
      padding: 0.4rem 0;
    }
  }

  h1 {
    margin-bottom: 2rem;
  }

  img {
    width: 100%;
    max-height: 40rem;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 0.8rem;
  }

  #rating img {
    width: 4rem;
    height: 4rem;
  }
  
  #ingredients {
    border: solid 0.1rem lighten($text-color, 50%);
    border-radius: 0.4rem;
  }

  #ingredients ul li,
  #instructions ol li {
    margin: 0 5rem;
  }
}